data
.ipynb_checkpoints
weights
saved-variables

# ignore
.DS_store*
.idea*
*__pycache__*
*.pyc
*.pytest_cache*
source/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

data/cddd.hdf5
data/*/ecfp*.npy

logs/*
!logs/README.md

cddd
.vscode
Untitled*.ipynb
test*.py

